@model EmployeeRosterViewModel
@{
    ViewData["Title"] = "Create";
}

<style>
    .abcd {
        margin-left: 380px;
    }

    h1 {
        margin-left: -60px;
    }
</style>
<body class="">
    <div class="container abcd">
        <h1>Create an EmployeeRosters</h1>

        <form asp-controller="EmployeeRosters" asp-action="Create" method="post">
            <div class="row">

                <div class="col-md-4">
                    <label asp-for="EmployeeId" class="form-label"></label>
                    <input type="text" asp-for="EmployeeId" class="form-control" />
                    <span asp-validation-for="EmployeeId"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="FromDate" class="form-label"></label>
                    <input type="date" asp-for="FromDate" class="form-control" />
                    <span asp-validation-for="FromDate"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="ToDate" class="form-label"></label>
                    <input type="date" asp-for="ToDate " class="form-control" />
                    <span asp-validation-for="ToDate"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">

                    <label asp-for="InTime" class="form-label"></label>
                    <input type="time" asp-for="InTime" class="form-control" />
                    <span asp-validation-for="InTime"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <label asp-for="OutTime" class="form-label"></label>
                    <input type="time" asp-for="OutTime" class="form-control" />
                    <span asp-validation-for="OutTime"></span>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4 mt-3 d-grid">
                    <input type="submit" class="btn btn-primary" value="Add New" />
                </div>
            </div>

        </form>
    </div>
</body>


