@model BookingViewModel
@{
    ViewData["Title"] = "Create";
}

<style>
        .image {
                background-image: url('https://www.bing.com/th/id/OGC.2c0117e8ad2087e4be50c9b8fdd0c00f?pid=1.7&rurl=https%3a%2f%2fmedia1.tenor.com%2fimages%2f2c0117e8ad2087e4be50c9b8fdd0c00f%2ftenor.gif%3fitemid%3d15406861&ehk=yrZjjhFR0hIjbPjcppWJ8kUXkTJP6HvxebomErnjzpo%3d');
                background-repeat: no-repeat;
                background-size: cover;

    }
</style>
<body class="image">
    <h1 class="offset-4">Book a Taxi</h1>
    <form asp-controller="Bookings" asp-action="Create" method="post" class="offset-4">
        <div class="row">
            <div class="col-md-5 w-50">
                
                <div class="mb-2">
                    <label asp-for="TaxiId" class="form-label"></label>
                    
                    <select asp-for="TaxiId" asp-items="@(new SelectList(Model.Taxis,"TaxiId","TaxiModel"))" class="form-select">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="TaxiId"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="TripDate" class="form-label"></label>
                    <input type="date" asp-for="TripDate" class="form-control" />
                    <span asp-validation-for="TripDate"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="StartTime" class="form-label"></label>
                    <input type="time" asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="EndTime" class="form-label"></label>
                    <input type="time" asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="SourceAddress" class="form-label"></label>
                    <input type="text" asp-for="SourceAddress" class="form-control" />
                    <span asp-validation-for="SourceAddress"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="DestinationAddress" class="form-label"></label>
                    <input type="text" asp-for="DestinationAddress" class="form-control" />
                    <span asp-validation-for="DestinationAddress"></span>
                </div>
                <div class="mt-2">
                    <input type="submit" class="btn btn-primary" value="Add New" />
                </div>
            </div>
        </div>
    </form>
    </body>