@{
    ViewData["Title"] = "Home Page";
}

<body class="body"  >
    <div class="text-center">
        <h1 class="display-4">Welcome</h1><div></div><h1>Online Taxi Booking</h1>
        @*<img src="https://i4consulting.org/wp-content/uploads/2021/01/Taxi-Booking-App-Development-730x487-1.jpg " class="img" />*@
    </div>
</body>
<style>
    .body {
        background-image: url("https://i1.wp.com/windowscustomization.com/wp-content/uploads/2019/07/Nissan-GT-R.gif?resize=600%2C432&quality=80&strip=all&ssl=1");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>




